<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../public/style.css">
    <style>
        body{
            padding: 0%;
            margin: 0%;
        }
       .navbar{
        display: flex;
        justify-content: space-between;
        background-color: black;
        align-items: center;
        color:white;
       }
       .nav a{
   padding-left: 20px;
   text-decoration: none;
   color: white;
       
       }
      
    </style>
     <title>Document</title>
</head>
<body>
   <div class="navbar">
    <div class="brand"><h2>Usman</h2> <span>Full Stack</span></div>
    <div class="nav">
        <a href="">Products</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
   </div>
    
</body>
</html>